cadastro-produto/OsSac.Repository/obj/
cadastro-produto/OsSac.Services/bin/
cadastro-produto/OsSac.Services/obj/
cadastro-produto/OsSac.Ui.Api/bin/
cadastro-produto/OsSac.Ui.Api/obj/
cadastro-produto/OsSac.Ioc/obj/
cadastro-produto/OsSac.Repository/bin/
cadastro-produto/OsSac.Ioc/bin/
cadastro-produto/OsSac.InfraEstrutura/obj/
cadastro-produto/OsSac.Domain/obj/
cadastro-produto/OsSac.InfraEstrutura/bin/
cadastro-produto/OsSac.Domain/bin/
cadastro-produto/OsSac.DataVo/obj/
cadastro-produto/OsSac.DataVo/bin/
cadastro-produto/.vs/
